#data{
   
        border-style: outset;
        border: 2px solid rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border-radius: 9px;
        width: 60%;
        height: 300px;
        padding: 10px;
        margin: 0 0 0 20%;
        overflow: auto;
        
    
}