
header{
width: 100%;
 h1{
    // background-color:#363636;
    height: 100px; 
    // width: 100%;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 450;
    // line-height: 90px;
    text-align:left;
    color: white;
    margin-top: 0px;
    margin-left: 40px;
    

   
}

 h1{
    border: none;
    background: rgb(0, 88, 164);
      background: linear-gradient(0deg, rgba(0, 88, 164) 0%, rgb(214, 208, 210) 100%);
      color: #fff;
      overflow: hidden;
    //   margin-right: 30px;
}

#h1{
    line-height: 90px;
}
}
