footer{
    border: none;
    background: rgb(0, 88, 164);
      background: linear-gradient(0deg, rgba(0, 88, 164) 0%, rgba(214, 208, 210) 100%);
      color: #fff;
      overflow: hidden;
      line-height: 0px;
      padding: 0;
      border: none;
    height: 80px;
    margin-top: 265px;
    width: 100%;
}

footer p {
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 40px;
    
}